<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="store">

  <div id="banner">
    <%= @page_title || 'Pragmatic Bookshelf' %>
  </div>

  <div id="columns">
    <div id="side">
      <%= link_to 'Home', store_path %><br />
      <%= link_to 'Products', products_path %><br />
      <%= link_to 'Add new product', new_product_path %><br />
      <%= link_to 'Shoping Cart', carts_path %><br />
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>

</body>
</html>
